<nav *ngIf="isLoggedIn">

  <a routerLink="/users">Korisnici</a> |
  <a *ngIf="mockService.getLoggedUser()?.permissions?.includes('add_user')"
     routerLink="/users/add">Dodaj korisnika</a> |
  <a *ngIf="mockService.getLoggedUser()?.permissions?.includes('search_machine')"
     routerLink="/machines">Masine</a> |
  <a *ngIf="mockService.getLoggedUser()?.permissions?.includes('read_errors')"
     routerLink="/machines/errors">Sve greske</a> |

  <button (click)="logout()">Logout</button>
</nav>

<router-outlet></router-outlet>
