<div class="container" style="padding: 20px;">
  <h2>Pretraga mašina</h2>

  <button *ngIf="authService.hasPermission('create_machine')"
          (click)="goToCreate()"
          class="btn-add">
    + Dodaj mašinu
  </button>

  <hr>

  <form (ngSubmit)="search()" style="margin-bottom: 20px; display: flex; gap: 10px; align-items: center; flex-wrap: wrap;">

    <input type="text"
           placeholder="Ime mašine"
           [(ngModel)]="filters.name"
           name="name"
           class="form-control"/>

    <select [(ngModel)]="filters.status" name="status" class="form-control">
      <option value="">Svi statusi</option>
      <option value="RUNNING">Upaljena (RUNNING)</option>
      <option value="STOPPED">Ugašena (STOPPED)</option>
    </select>

    <label>Od:</label>
    <input type="date"
           [(ngModel)]="filters.startDate"
           name="dateFrom"
           class="form-control"/>

    <label>Do:</label>
    <input type="date"
           [(ngModel)]="filters.endDate"
           name="dateTo"
           class="form-control"/>

    <button type="submit" class="btn-search">Pretraži</button>
  </form>

  <table border="1" cellpadding="5" style="width: 100%; border-collapse: collapse;">
    <thead>
    <tr style="background-color: #f2f2f2;">
      <th>ID</th>
      <th>Ime</th>
      <th>Stanje</th>
      <th>Napravio je</th>
      <th>Aktivna</th>
      <th>Datum kreiranja</th> <th>Akcije</th> </tr>
    </thead>

    <tbody>
    <tr *ngFor="let m of filteredMachines">
      <td>{{m.id}}</td>
      <td><strong>{{m.name}}</strong></td>

      <td [style.color]="m.status === 'RUNNING' ? 'green' : 'red'">
        {{m.status}}
      </td>

      <td>{{ m.createdBy.id }}</td>

      <td>{{ m.active ? 'Da' : 'Ne' }}</td>

      <td>{{ m.createdAt | date: 'dd.MM.yyyy HH:mm' }}</td>

      <td>
        <button *ngIf="authService.hasPermission('destroy_machine')"
                (click)="destroyMachine(m.id)"
                style="color: red; cursor: pointer;">
          Delete
        </button>

      </td>
      <td>
        <button [routerLink]="['/machines', m.id, 'schedule']"
                class="btn btn-info btn-sm"
                style="margin-left: 5px;">
          🕒 Zakaži
        </button>
      </td>
    </tr>

    <tr *ngIf="filteredMachines.length === 0">
      <td colspan="7" style="text-align: center;">Nema mašina koje odgovaraju pretrazi.</td>
    </tr>
    </tbody>
  </table>
</div>
